/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

.container {
      margin-top: -8px;
      margin-left: -4px;
      width: 960px;
      }


.header_contain {
                float: right;
                background-color:#6495ed;
                }


/* header Navigation bar */


header .logo {
      float: right;
      margin-right: 1075px;
      margin-top: -135px;
      }

header nav {
      float: right;
      }

header nav ul {
       margin-top: -30px;
       margin-left: 200px
       
       }
header nav ul li {
      list-style-type: none;
      display: inline-block;
      }

header nav ul li a {
      text-decoration: none;
      padding-right: 20px;
      padding-left: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: grey;
      border-top-left-radius:10px;
      border-top-right-radius:10px;
      }


.content {
      width: 960px;
      }

body  {
      background-color:#e0ffff;
      }  

p     {
      float: right;
      background-color:#b0c4be;
      margin-top: 100px;
      margin-right: 300px;
      padding: 50px;
      }

h1    { 
      background-color:#6495ed;
      margin-top: 150px;
      }

.h1   {
      float: right;
      margin-right: 825px;
      padding: 8px;
      padding-right: 30px;
      padding-left: 80px;
      font-family:Georgia, "Times New Roman", Times, serif;
      }

h2    {
      background-color: #ffffff;
      }
      
/* footer Navigation bar */

footer nav {
      float: right;
      }

footer nav ul {
      margin-top: 70px; 
      margin-left: 500px;
       }
footer nav ul li {
      list-style-type: none;
      display: inline-block;
      }

footer nav ul li a{
      text-decoration: none;
      padding-right: 25px;
      padding-left: 25px;
      padding-top: 3px;
      padding-bottom: 3px;
      background-color: grey;
      border-top-left-radius:10px;
      border-top-right-radius:10px;
      }
