
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @member.myname %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @member.login %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Enjoy the news letter!</p>
  </body>
</html>
