<!DOCTYPE html>
<html>
  <head>
    <title>javascript Example</title>
        <script src="../_js/jquery-1.6.3.min.js"></script>
          <script>
               $(document).ready(function() {
                   $('body').hide().fadeIn(3000);
               });

          </script>

  </head>
  <body>
    <h1>Home</h1>
    <p>This paragraph is going to appear within 3 seconds
       First you will not see a thing. then, it will appear all of a sudden</p>
  </body>
</html>
