<h1>Pages#discussions</h1>
<p>Like the use of the computer scientists and the Java programming language Python to writing computer code, chemists will be able to quickly use the collection set of instructions to "programming" the behavior of DNA molecules in a test tube or cell. 
A research team from the University of Washington has succeeded in developing a programming language for chemists would allow them to accelerate the development of a network able to direct the behavior of chemical reactions in the same way that electronic controllers Mkoweinim the operation of vehicles, robots and other devices. In medicine, such networks could be used as a sophisticated system to transport drugs or sensors for detecting diseases at the cellular level. The study appears in the cult - the journal Nature Nanotechnology.</p>

