<footer>
      <nav>
         <ul>
             <li><%= link_to "home", pages_home_path %></li>
             <li><%= link_to "chemistry", pages_chemistry_path %></li>
         </ul>
      </nav>
</footer>
